annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
anyio @ file:///C:/b/abs_5c8w79vk0u/croot/anyio_1745334672105/work
certifi @ file:///C:/b/abs_43o9lm92p9/croot/certifi_1750863864870/work/certifi
click @ file:///C:/b/abs_42rbjngfys/croot/click_1744271606983/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
distro @ file:///C:/b/abs_71xr36ua5r/croot/distro_1714488282676/work
h11 @ file:///C:/b/abs_224rqu7kel/croot/h11_1748442031959/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/b/abs_9fclaf1b46/croot/httpx_1746747856672/work
httpx-sse @ file:///C:/b/abs_35vrjlkfq0/croot/httpx-sse_1734629697200/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
jiter @ file:///C:/b/abs_acsxrw36a6/croot/jiter_1729808947806/work
markdown-it-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/markdown-it-py_1699473886965/work
mcp @ file:///C:/b/abs_8ctv4wavw5/croot/mcp_1749074371935/work
mdurl @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mdurl_1699473506455/work
openai @ file:///C:/b/abs_f3ev2tn7ms/croot/openai_1746690315854/work
pydantic @ file:///C:/b/abs_d1rp6fqxgk/croot/pydantic_1750768285689/work
pydantic-settings @ file:///C:/b/abs_fe1okp6jbe/croot/pydantic-settings_1730800848545/work
pydantic_core @ file:///C:/b/abs_d0xs0z3erk/croot/pydantic-core_1750754747982/work
Pygments @ file:///C:/b/abs_e4bg5vh5j_/croot/pygments_1744667628203/work
python-dotenv @ file:///C:/b/abs_71cpoh9hpg/croot/python-dotenv_1745613639902/work
python-multipart @ file:///C:/b/abs_fdyhk6taah/croot/python-multipart_1743518699596/work
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
setuptools==78.1.1
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
sse-starlette @ file:///C:/b/abs_5cz3weiboc/croot/sse-starlette_1745413116713/work
starlette @ file:///C:/b/abs_3d72pz5dz0/croot/starlette-recipe_1745338548085/work
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
typing-inspection @ file:///C:/b/abs_261c5jt6kx/croot/typing-inspection_1746023491500/work
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
uvicorn @ file:///C:/b/abs_0a5pprsdq4/croot/uvicorn-split_1732662019530/work
wheel==0.45.1
